.collageDiv{
  text-align: center;
  h2{
    text-align: left;
    margin-bottom:40px;
  }
  .collageCom{
    width : 300px;
    margin : 10px auto;
  }
}

.common{
  width : 60%;
  margin : 50px auto;
  background : #fff;
  border-bottom : 2px solid skyblue;
}

.myTable{
   width : 60%;
   margin : 50px auto;
   background : #fff;
   border-bottom : 2px solid skyblue;
  overflow: auto;
   h2{
     margin-bottom: 40px;
   }
  .pagination {
    float: right;
    margin: 40px 0;
  }
 }

